body{
    font-family: "comic sans ms", Times, serif;
    background-color: pink;
}
h1{
    font-family: "comic sans ms" !important;
}
h2{
    font-family: "comic sans ms" !important;
    color: fuchsia;
    background-color: limegreen;
}
.imagecustom
{

    width: 50%;
    right: auto
    left: auto;
}
class='tableauPlaceholder' style='width: 800px; height: 700px;'